<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book %>
    <%= f.collection_select(:book_id, Book.all, :id, :name) %>
  </div>

  <% if user_signed_in? %>
      <% if current_user.role == Role.find_by_name("Admin") %>
        <div class="field">
          <%= f.label :user %>
          <%= f.collection_select(:user_id, User.all, :id, :email) %>
        </div>
      <% else %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
      <% end %>
  <% end %>

  <div class="field">
    <%= f.label :rental_date %>
    <%= f.datetime_select :rental_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
