<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice alert alert-success" role="alert"><%= notice %></p>
      <p class="alert alert-warning" role="alert"><%= alert %></p>
      <% if flash[:error] %>
        <div id="error" class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      <% end %>
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
</html>
